html {
  height: 100%;
  width: 100%;
}

body {
  background: linear-gradient(339deg, rgba(255, 255, 255, 0.10) 14.15%, rgba(0, 0, 0, 0.00) 77.85%), linear-gradient(151deg, rgba(255, 255, 255, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%), #001BE3;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}
